{% extends 'myapp/base.html' %}
{% block body %}




<div class="data" style="margin-top:15px; margin-bottom:15px; text-align:center; color:rgb(233, 135, 24)">
    <h3>Doctor Appointment Schedule</h3>
    </div>
    
    <div class="container">
    <table class="table" border="1">
        <thead style="color:blueviolet">
        <tr>
            <th scope="col">Sr No</th>
            <th scope="col">Doctor Name </th>
            <th scope="col">Date of Meeting </th>
            <th scope="col">Time</th>
            <th scope="col">enter_by</th>
            <th scope="col">doctors</th>
            
          </tr>
        </thead>
        {% for post in forms %}
        <tbody>
          <tr>
            <th>{{post.id}}</th>
            <th>{{post.doctor}}</th>
            <th>{{post.date}}</th>
            <th>{{post.time}}</th>
            <th>{{post.enter_by}}</th>
            <th>{{post.doctor.contact_number}}</th>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    
    </div>

    {% endblock %}